In [102]:
import pandas as pd
import numpy as np

In [107]:
stock_list = pd.read_csv("../../kaggle/data/stock_list.csv")

In [110]:
list(stock_list.columns)

['SecuritiesCode',
 'EffectiveDate',
 'Name',
 'Section/Products',
 'NewMarketSegment',
 '33SectorCode',
 '33SectorName',
 '17SectorCode',
 '17SectorName',
 'NewIndexSeriesSizeCode',
 'NewIndexSeriesSize',
 'TradeDate',
 'Close',
 'IssuedShares',
 'MarketCapitalization',
 'Universe0']

In [ ]:
columns_name = ['SecuritiesCode', 'EffectiveDate', 'Name', 'Section/Products', 'NewMarketSegment', '33SectorCode', '33SectorName', '17SectorCode', '17SectorName', 'NewIndexSeriesSizeCode', 'NewIndexSeriesSize', 'TradeDate', 'Close', 'IssuedShares', 'MarketCapitalization', 'Universe0']

In [130]:
stock_list.head()

,DisclosureNumber,DateCode,Date,SecuritiesCode,DisclosedDate,DisclosedTime,DisclosedUnixTime,TypeOfDocument,CurrentPeriodEndDate,TypeOfCurrentPeriod,...,ForecastEarningsPerShare,ApplyingOfSpecificAccountingOfTheQuarterlyFinancialStatements,MaterialChangesInSubsidiaries,ChangesBasedOnRevisionsOfAccountingStandard,ChangesOtherThanOnesBasedOnRevisionsOfAccountingStandard,ChangesInAccountingEstimates,RetrospectiveRestatement,NumberOfIssuedAndOutstandingSharesAtTheEndOfFiscalYearIncludingTreasuryStock,NumberOfTreasuryStockAtTheEndOfFiscalYear,AverageNumberOfShares
0,2.021121e+13,20211206_1873,2021-12-06,1873.0,2021-12-06,15:00:00,1.638770e+09,ForecastRevision,2021-10-31,FY,...,40.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.021121e+13,20211206_4813,2021-12-06,4813.0,2021-12-06,15:00:00,1.638770e+09,3QFinancialStatements_Consolidated_JP,2021-10-31,3Q,...,-77.98,NaN,True,False,False,False,False,39633000.0,466421.0,39095375.0
2,2.021112e+13,20211206_4824,2021-12-06,4824.0,2021-12-06,08:30:00,1.638747e+09,1QFinancialStatements_Consolidated_JP,2021-10-31,1Q,...,3.69,NaN,False,False,False,False,False,9766800.0,23345.0,9743455.0
3,2.021112e+13,20211206_6656,2021-12-06,6656.0,2021-12-06,15:00:00,1.638770e+09,2QFinancialStatements_NonConsolidated_JP,2021-10-31,2Q,...,44.85,False,NaN,True,False,False,False,3790400.0,156.0,3790170.0
4,2.021120e+13,20211206_9824,2021-12-06,9824.0,2021-12-06,11:00:00,1.638756e+09,ForecastRevision,2021-10-31,FY,...,337.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
kaggle/data/example_test_files/financials.csv

In [122]:
stock_fn = pd.read_csv("../../kaggle/data/supplemental_files/financials.csv")

In [129]:
stock_fn.TypeOfDocument.unique()

array(['ForecastRevision', '3QFinancialStatements_Consolidated_JP',
       '1QFinancialStatements_Consolidated_JP',
       '2QFinancialStatements_NonConsolidated_JP', 'NumericalCorrection',
       'FYFinancialStatements_Consolidated_JP',
       '3QFinancialStatements_NonConsolidated_JP',
       '2QFinancialStatements_Consolidated_JP'], dtype=object)

In [131]:
(stock_fn.DateCode).unique()

array(['20211206_1873', '20211206_4813', '20211206_4824', '20211206_6656',
       '20211206_9824', '20211207_1783', '20211207_2375', '20211207_2695',
       '20211207_3566', '20211207_3854', '20211207_6696', '20211207_7196',
       '20211207_7354', '20211207_7435'], dtype=object)